@import "tailwindcss";

:root {
  --color-primary: #662222;
  --color-secondary: #842a3b;
  --color-tertiary: #a3455a;
  --color-white: #ededed;
  --color-offwhite: #f5daa7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@import "tailwindcss";

@theme {
  --font-sans: "Open Sans", Helvetica, sans-serif;
  --font-mono: "Oxygen Mono", monospace;
}

:root {
  --color-primary: #383d3b;
  --color-secondary: #004ead;
  --color-tertiary: #ff5c00;
  --color-white: #ededed;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--color-white);
    --foreground: var(--color-primary);
  }
}

body {
  color: var(--color-white);
  background: var(--color-primary);
  font-family: var(--font-sans);
}
