@import "tailwindcss";

@theme {
  --font-sans: var(--font-open-sans), "Open Sans", Helvetica, sans-serif;
  --font-serif: var(--font-rye), Rye, Georgia, serif;
}

:root {
  --color-primary: #662222;
  --color-secondary: #842a3b;
  --color-tertiary: #a3455a;
  --color-offwhite: #f5daa7;
  --color-white: #ededed;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--color-white);
    --foreground: var(--color-primary);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-primary);
    --foreground: var(--color-white);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
